body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: rgb(131, 125, 125);
}
@media screen and (max-width: 800px) {
    .flex-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
  }

/*general style */
img {
    max-width: 100%;
}
input  {
    width: 380px;
    height: 60px;
    font-size: 1.5rem;
    padding-left: 8px;
    border: 1px solid gold;
}
button{
    border-radius: 50px;
    box-shadow: 3px -4px 0 #1c1d1d;
    font-size: 1.5em;
    width: 390px;
    height: 65px;
    background-color: green;
    color: #fff;
    border: 0px;
    cursor: pointer;
}
/* navbar section */
nav {
    background-color: #000;
    color: #fff;
    min-height: 60px;
    font-size: 1.5rem;
    font-weight: 100;
}

nav .container{
    width: 80%;
    margin:auto;
    padding-top: 10px;
}

nav .container span, .description span{
    color: gold;
}

/* overlay */
.header{
    background-image: url('../images/driving.jpg');
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

/* estimate */
section.estimate{
    padding: 50px 0 50px 0px;
    background-color: gold;
    color: #000;
    font-weight: 100;
    font-size: 1.3rem;
}
.text-center{
    padding-left: 285px;
}
.flex-container {
    display: flex;
    justify-content: center;
  }
  
.flex-container > div.col-4 {
    margin: 50px ;
    text-align: center;
}
.flex-container > div.col-4 > h2 {
    color: #000;
    font-weight: bolder
}
.flex-container > button {
    margin: 50px;
}
.flex-container.signup > div, .flex-container.estimate > div {
    margin:2px;
}

header {
    text-align: center;
    padding: 32px;
    margin: 50px auto;
}
header h1 {
    font: xx-large;
    margin-block-end: 0.1em;
    font-size: 3rem;
    color: #000;

}
.flex-container-col{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.flex-container-col > div{
    height: 50%;
}
.bg-cyan{
    background-image: url('../images/Rectangle 4.2.png');
    background-size: auto 100%;
}

.bg-yellow {
    background-color: gold;
    padding: 100px 80px;
    color: #000;
    font: xx-large;
    font-size: 2rem;
    width: 50%;
}

#subscribe{
    margin-bottom: 150px;
}

.description{
    width: 60%;
    padding-top: 180px;
    text-align: center;
}
.description h1{
    font: xx-large;
    font-size: 4.5rem;
    color: #fff;
    margin-block-end: 0.2em;
}

.action{
    margin: 50px auto;
}

.wrapper{
    width: 80%;
}